
}
h2{color:white;
  font-size: 58px;
  text-align: center;
}
.rond{color: white;
  background-color: blue;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: flex;
  justify-content:center;
  align-items: center;

}
.rond a{color:white;

}
.rubriques{display: flex;
  justify-content:space-around;
  margin-top: 20px;
  font-family:verdana;
}
h3{text-align: center;}
